/*.spotify-button {*/
/*	width: 20px;*/
/*	height: 20px;*/
/*	background: #1DB954;*/
/*	border-radius: 50%;*/
/*	margin-right: 20px;*/

/*    color: #373737;*/
/*    font-size: 13px;*/
/*    font-weight: 900;*/
/*    line-height: 21px;*/
/*}*/

/*.spotify-button:hover {*/
/*	color: #fff;*/
/*	text-decoration: none;*/
/*}*/

.ctrl div[role="table"] > div:not(.row) > .row > div {
	pointer-events: none;
}

.ctrl div[role="table"] > div:not(.row) > .row:hover {
	background: rgb(58, 99, 55);
}
